@{
    ViewBag.Title = "О Нас";
}

<h2 style="text-align: left;">@ViewBag.Title</h2>

<br />

<p style="text-align: center; margin: 0 auto; width: 60%; font-style: italic;">
    Мы стремимся предложить нашим клиентам только самые вкусные и качественные пиццы, используя только 
    свежие ингредиенты и профессиональное оборудование.
</p>
<p style="text-align: center; margin: 0 auto; width: 60%; font-style: italic;">
    Мы понимаем, что у каждого человека свой уникальный вкус и предпочтения в еде.
    Поэтому мы предлагаем возможность самостоятельно собрать свою пиццу из доступных ингредиентов.
    Мы убеждены, что такой подход позволяет нам максимально удовлетворить потребности и желания наших клиентов,
    а также продемонстрировать наше уважение к их индивидуальным вкусам и предпочтениям.
</p>
