@using PizzaWebAppAuthentication.Models.AppModels;
@model IEnumerable<Pizza>
@{
    ViewData["Title"] = "Home Page";
}

<div class="delivery-info">
   <img src="@Url.Content("~/images/Constructor2.png")" alt="Logo"/>
 </div>
<p>Пицца контроллер еще пустой</p>

