@model PizzaWebAppAuthentication.Models.AppModels.Order

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    
    <h4>Для завершения заказа заполните данные</h4>
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for=@Model.DeliveryAddress.City class="col-md-2 control-label">Город</label>
        <div class="col-md-5">
            <input asp-for=@Model.DeliveryAddress.City class="form-control" />
            <span asp-validation-for=@Model.DeliveryAddress.City class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.DeliveryAddress.Street class="col-md-2 control-label">Улица</label>
        <div class="col-md-5">
            <input asp-for=@Model.DeliveryAddress.Street class="form-control" />
            <span asp-validation-for=@Model.DeliveryAddress.Street class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.DeliveryAddress.Building class="col-md-2 control-label">Дом</label>
        <div class="col-md-5">
            <input asp-for=@Model.DeliveryAddress.Building class="form-control" />
            <span asp-validation-for=@Model.DeliveryAddress.Building class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.DeliveryAddress.Apartment class="col-md-2 control-label">Квартира</label>
        <div class="col-md-5">
            <input asp-for=@Model.DeliveryAddress.Apartment class="form-control" />
            <span asp-validation-for=@Model.DeliveryAddress.Apartment class="text-danger"></span>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Подтвердить и оплатить</button>
    </div>
</form>
