@model string

<partial name = "_Menu" />
<div class="col-md-9">

    <h3><font color="#E32636" face="serif">@ViewBag.Result</font></h3>
   
    <h3>Добавить новую роль</h3>

    <div class="row">
        <form asp-controller="Role" asp-action="Create" method="post">
             <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-floating mb-1"> 
                    <label for="name"></label>
                <input name="name" class="form-control"/>
             </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>   
</div>


<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
<script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
