@model PizzaWebAppAuthentication.Models.ViewModels.PizzaViewModels.PizzaViewModelForAdmin

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Добавить новую пиццу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input type="number" asp-for="Price" class="form-control" lang="en" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <h3>Ингредиенты:</h3>

                @foreach (var ingredient in (List<string>)ViewData["Ingredients"])
                {
                    <p />
                    <input type="checkbox" name="Ingredients" value=@ingredient> @ingredient.ToLower()
                }                
            </div>

            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label">Изображение</label>
                <input asp-for="ImageUpload" class="form-control" />
                <img id="imgpreview" class="pt-2"/>
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
                        
            <div class="form-group">
                <button btn btn-primary>Добавить</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
            $("#ImageUpload").change(function() {
                    readURL(this);
            });           
    </script>
}
